.result {
    margin: 10px;
    text-align: left;
}
.result-quickview {
    font-size: 70%;
}
.results {
    margin: auto;
    width: 600px;
}
.content u {
    font-weight: bold;
}
.result-detail {
    font-size: 90%;
}
